﻿@model  Proje7MVC.Models.DataModels.Employees

@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GÜNCELLE</h2>
<section>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <form method="post">
                        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                        <div class="form-group">
                            <label>Adı</label>
                            <input type="text" class="form-control" name="Name" value="@Model.Name">
                        </div>
                        <div class="form-group">
                            <label>Soyadı</label>
                            <input type="text" class="form-control" name="Surname" value="@Model.Surname">
                        </div>
                        <div class="form-group">
                            <label>Meslek</label>
                            <input type="text" class="form-control" name="Profession" value="@Model.Profession">
                        </div>
                        <div class="form-group">
                            <label>Linkedin URL</label>
                            <input type="text" class="form-control" name="LinkedinUrl" value="@Model.LinkedinUrl">
                        </div>
                        <div class="form-group">
                            <label>Instagram URL</label>
                            <input type="text" class="form-control" name="InstagramUrl" value="@Model.InstagramUrl">
                        </div>
                        <div class="form-group">
                            <label>Image URL</label>
                            <input type="text" class="form-control" name="ImageUrl" value="@Model.ImageUrl">
                        </div>
                        <button class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

